*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Raleway', sans-serif;
}
.nav {
    background-color: #3498DB;
    border-bottom: 1px solid black; 
} 
.nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}
.nav_checkbox {
    display: none;
}
.nav__toggle img {
    width: 1.5rem;
}
.sesion {
    margin-top: 1.5rem;
}
.close {
    display: none;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}
.menu {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}
.nav__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-right: 0.2rem;
}
.nav__toggle {
    display: flex;
    flex-direction: row;
}
.nav__menu li {
    list-style: none;
    display: none;
    padding: 0.2rem;
}
.nav__menu li:first-child {
    margin-right: auto;
    display: block;
}
.nav__menu li:last-child {
    font-weight: bold;
    border-radius: 10px;
    border:rgb(235, 232, 232) solid 1px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.nav__menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    padding: 0.5rem;
}
.nav__menu a:hover {
    color: rgb(63, 85, 85);
    border-radius: 5px;
    box-shadow: 0 0 5px #444d4d, 0 0 5px #6d7979 ;
}
.nav__menu h1 {
    margin-left: auto
}
#nav_checkbox:checked ~ ul.nav__menu li{
    display: block;
}
#nav_checkbox:checked ~ label.nav__toggle .close {
    display: block;
}
#nav_checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}

.productos {
    background-color: rgb(235, 232, 232);
    width: 100%;
    height: 100%;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
}
.productos_titulo h1 {
    text-align: center;
    padding: 2rem;
}

.container-1 {
    width: 60%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 80%;
    height: 50px;
    background: white;
    border: 1px solid black;
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
}

.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 15px;
    margin-top: -7px;
    z-index: 1;
    color: black;
}

.container_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregar img {
    margin-left: 0.1rem;
    width: 40px;
    height: 40px;
}

.productos_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.productos_item1 {
    background-color: #3b9ada;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    border: gray solid 1px;
    margin: 1rem 1rem;
}
.productos_item1 img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}
.productos_image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productos_image img {
    margin-left: 1rem;
    width: 20px;
    height: 20px;
}

.paginacion {
    margin: 1rem auto;
    width: 80%;
    max-width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    box-shadow: 0px 0px 3px 1px rgb(94, 90, 90);  
    border-radius: 25px;
    height: 40px;
    
}
.number-page {
    text-align: center;
    font-size: 20px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.number-page:hover {
    color: white;
    background: black;
}

.text {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}
.redes {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}
.redes img {
    width: 30px;
    height: 30px;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}



@media only screen and (min-width:560px ) and (max-width:1000px){
    .nav__toggle {
        display: none;
    }
    .nav__menu {
        flex-direction: row;
    }
    .nav__menu li {
        display: block;
    }
    .pagination-item1 {
        left: 30%;
    }
    .content_item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .content_item-info {
        margin-right: 2rem;
    }
    .content_item1 {
        flex-direction: row;
        justify-content: space-around;
    }
    #image2, #image4 {
        order: -1;
    }
    .productos {
        width: 90%;
        border-radius: 15px;
        border: gray solid 2px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


}
@media only screen and (min-width:1001px){
    .nav__toggle {
        display: none;
    }
    .nav__menu {
        flex-direction: row;
    }
    .nav__menu li {
        display: block;
    }
    .pagination-item1 {
        left: 40%;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .content_categories {
        margin-top: 2rem;
        width: 48%;
    }
    .content_item {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .content_item-info {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .content_item1 {
        flex-direction: row;
        justify-content: space-around;
    }
    #image2, #image4 {
        order: -1;
    }
    .productos {
        width: 90%;
        border-radius: 15px;
        border: gray solid 2px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}